:root {
    --body-copy: 16px;
    --page-spacing: 24px;
  
    --main-heading: calc(var(--body-copy) * 3);
    --sub-heading: calc(var(--body-copy) * 1.5);
  }

  @media (min-width: 768px) {
    :root {
      --body-copy: 18px;
      --page-spacing: 48px;
  
      --main-heading: calc(var(--body-copy) * 4);
      --sub-heading: calc(var(--body-copy) * 2);  
    }
  }
  
  
  body {
    font-family: "Neue Montreal",sans-serif;
    font-size: var(--body-copy);
  }